<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion</title>
    <link href="~/Content/Estilo.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>


<body id="body">
    <nav  id="nav" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="botonApi" class="navbar-brand" href="/Home/Index">Entrenate</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a id="boton1" href="/Home/Rutinas">Rutinas</a></li> 
                    <li><a href="/Home/Ejercicios">Ejercicios</a></li>

                    <li><a href="/Home/Contacto">Contacto</a></li> 
                   
                </ul>
             
                <ul class="nav navbar-nav navbar-right">
                   
                        <!--<li><a href="#" onclick="bienvenida();" role="button">Ingresar</a></li>-->
                    <li id="ingresar"><a href="#" role="button">Ingresar</a></li>
                        <li id="nuevoArticulo"><a href="#" role="button" data-toggle="modal" data-target="#modalArticulo">Nuevo Artículo</a></li>
                        <li id="dropdownUsuario" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="nombreUsuario">Gustavo</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mi Perfil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="salir" href="#">Salir</a></li>
                            </ul>
                      </li>
                </ul> 
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
  
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Funcion.js"></script>
    @RenderSection("scripts", required: false)





</body>
</html>
